{% extends "base.html" %}

{% block htmltitle %}
  {{ article.html_title or article.title }}
{% endblock %}

{% block content %}
  <div class="post">
    <div class="post-header">
      <h1 class="title">
        <a href="{{ article.absolute_url }}">
          {{ article.title }}
        </a>
       </h1>
       <div class="post-info">
         <span class="date">{{ article.date|datetime }}</span>
         <span class="category">
           <a href="{{ article.category.absolute_url }}">{{ article.category }}</a>
         </span>
       </div>
     </div>
     <div class="content">
       {{ article.content }}
     </div>
  </div>
{% endblock %}
