{% extends "base.html" %}

{% block htmltitle %}
  {{ category|title }}
{% endblock %}

{% block content %}
  {% for article in articles %}
    <div class="post">
      <div class="post-header index">
        <h1 class="title">
          <a href="{{ article.absolute_url }}">
            {{ article.title|title }}
          </a>
        </h1>
        <div class="post-info">
          <span class="date">{{ article.date|datetime }}</span>
          <span class="category">
            <a href="{{ article.category.absolute_url }}">{{ article.category }}</a>
          </span>
        </div>
      </div>
      <div class="content">
        {{ article.summary }}
      </div>
      <a href="{{ article.absolute_url }}" class="read-more">Read More</a>
    </div>
  {% endfor %}
{% endblock %}
